*{
    margin: 0;
    padding:0;
    background-color: bisque;
}

nav{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    display:flex;
    font-size: 20px;
    padding: 23px;
    display: space-between;
}

nav li a{
    text-decoration:none;
    color: black;
    transition: all;
    transition-duration: 500ms;
}

nav li a:hover{
    text-decoration: none;
    color: rgb(103, 101, 235);
}

div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 23px;
    font-size: 24px;
}


.container {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    width: 100%;             
    max-width: 1200px;        
    height: 700px;            
    margin: 0 auto;           
    border: 1px solid #000;   
    padding: 20px;
    box-sizing: border-box; 
}      

.container h1,
h2 {
    margin: 23px 0;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form label {
    font-size: 25px;
}

.container form input[type='number'],
select,
label {
    font-size: 25px;
    width: 23vw;
    margin-bottom: 23px;
}

.btn {
    width: 144px;
    padding: 5px 8px;
    font-size: 20px;
    background: #e0d0f5;
    color: black;
    border-radius: 13px;
    cursor: pointer;
}

.output {
    display: none;
}

.output table {
    width: 50vw;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
}

.output table th{
    padding: 3px;
}


footer {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}


